.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.footer-mellow{
background-color: white;
height: 100%;
align-content: center;;
}
.footer-mellow img{
  height: 6em;
  width: 6em;
  margin-right: 1em;
}
@media (max-width: 758px) {
  .footer-mellow img{
    height: 6em;
    width: 6em;
    margin-right: 1em;
    align-content: center;
    margin-top: 1em;
  }
}

.text-footer{
  padding-top: 15px;
  text-align: right;
  margin-right: 0px;

}
.text-footer-xs{
  padding-top: 10px;
  text-align: right;

}
.carousel-custom{

  height: 200px;




}
.contact-custom{
color: white;
background-color: #000000;
height: 100px;
max-height: 250px;
text-align: left;
padding-top: 30px;
}
.contact-custom-xs{
color: white;
background-color: #000000;
height: 100px;
max-height: 250px;
text-align: center;
padding-top: 20px;
}
.fondo-custom{
background: url('../assets/images/Fondo.png') no-repeat center  ;
color: white;
background-position: center;
background-size: cover;



}
.btn-custom{
    background-color: black;
   color: #999999;
   border-color: white;
   border-radius: 0;
  width: 100%;
  text-align: center;
  margin-top: 5px;
padding-top: 5px;
   font-size: 12px;
 border-style: solid;
}
.btn-custom:hover{
color: white;
background-color: black;
 border-color: white;
 border: 2px solid;
  border-style: solid;

}
.btn-custom-xs{
    background-color: black;
   color: #999999;
   border-color: white;
   border-radius: 0;
  width: 100%;
  text-align: center;
margin-top: 10px;
   font-size: 12px;
     border-style: solid;
}
.btn-custom-xs:hover{
color: white;
background-color: black;
 border-color: white;
 border: 2px solid;
   border-style: solid;
}


.social-icon{
height: 30px;
width: 30px;
}
.social-icon-custom{
height: 35px;
width: 35px;
}
.social-icon-mellow{
height: 50px;
width: 50px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 0px;
}
.social-icon-mellow-xs{
height: 50px;
width: 50px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 0px;
}
.img-custom{
max-width: 300px;
max-height: 300px;
align-content: center;
}
.logo{
  margin-top: 50px;
  margin-bottom: 40px;
}
.text-custom{
  padding-top: 0;
  margin-bottom: 40px;
  text-align: right;

}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #fff;
  margin: 0px;
}

.bx-prev{
  left:10px;
  background:url(../bower_components/bxslider-4/dist/images/controls.png) no-repeat 0 -32px !important;
}
.bx-next{
  right:10px;
  background:url(../bower_components/bxslider-4/dist/images/controls.png) no-repeat -43px -32px !important;
}
